{% extends "admin/change_list.html" %}
{% load i18n %}

{% block content %}
  {{ block.super }}
  <br class="clear" />
  <div style="margin-top:50px">
    <h3>{% trans "Upload Recipients" %}</h3>
    <form method="post" action="{% url 'admin:confrontiv-upload-recipients' %}" enctype="multipart/form-data">{% csrf_token %}
      <p>
        <input type="file" name="file"/>
        <input type="submit" value="{% trans "Generate recipients via CSV" %}"/>
      </p>
    </form>
  </div>
{% endblock %}
